

  .card{
    width: 35%;
    margin-left: 25rem;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,0.5fr));
    grid-gap: 40px;
    box-sizing: border-box;
    border-style: hidden;
    
  }
  .bgSizeCover{
    background-color:bisque;
   background-size: cover;
    
    resize: both;
    overflow: scroll;
  }
 
 

    

 
    