

  .card{
    width: 35%;
    margin-left: 25rem;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,0.5fr));
    grid-gap: 40px;
    box-sizing: border-box;
    border-style: hidden;
    
  }
  .bgSizeCover{
    background-color:bisque;
   background-size: cover;
    
    resize: both;
    overflow: scroll;
  }
 
  select {
    height: 30px;
    width: 150px;
    outline: none;
    color: #74646e;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(218, 137, 137);
    background: #eee;
  }

    

 
    