<!-- <form class="login">
  <div class="wrapper" >
      <p class="h4 mb-4">Login</p>
      <div [formGroup]="loginform">

          <input [class.is-invalid]="loginform.get('emailid').invalid && loginform.get('emailid').touched" formControlName="emailid" type ="email" class="form-control mb-4" placeholder="name@example.com">
          <div *ngIf="loginform.get('emailid').invalid && loginform.get('emailid').touched">
           <small *ngIf="loginform.get('emailid').errors?.['required']" class="text-danger">Email id required*</small>
           </div>

           <input [class.is-invalid]="loginform.get('password').invalid && loginform.get('password').touched" formControlName="password" type ="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
           <small  id="defaultRegisterFormPasswordHelpBlock"  class="form-text text-muted mb-4"> At least 8 characters and 1 digit</small>
   
            <div *ngIf="loginform.get('password').invalid && loginform.get('password').touched">
            <small *ngIf="loginform.get('password').errors?.['required']" class="text-danger">Password required*</small>
            </div>
            <div>
            <button class="btn mt-3" routerLink="/homepage-component" routerLinkActive="active">submit</button>
            <a routerLink="/registration-component" routerLinkActive="active">Sign Up</a>
            </div>
          </div>
      </div>
        </form> -->
        <div class="backpage">
        <div class="container">
          <div class="wrapper" >
            <p class="h2 mb-4" style="color:white">Login</p>
          <form #loginform="ngForm" (ngSubmit)="loginUser(loginform)">
            <small class="text-danger">{{msg}}</small>
            <br>
            <small class="text-danger">{{msg1}}</small>
            <div class = "form-group">
              <!-- <label for="email">Email:</label> -->
              <input type="email" class="form-control" id = "email" placeholder="Enter email" name = "email" [(ngModel)]="user.email"  #email="ngModel" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [class.is-invalid]="email.invalid && email.touched"
              >
               <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required</small> -->
               <div *ngIf="email.invalid && (email.dirty || email.touched) ">
                <small class="text-danger" *ngIf="email.errors?.['required']">email id is required</small>
                <small class="text-danger" *ngIf="email.errors?.['pattern']">enter the valid email id</small>
              </div>
            </div> 
            
            
              <!-- <div *ngIf="email.errors && email.invalid && email.touched && email.dirty ">
                <div class=alert-danger *ngIf="email.errors?.['required']">
                  email is required.
                </div>
                <div class="alert-danger" *ngIf="email.errors?.['pattern']">email id invalid</div>
              </div> -->
              <br>
            <div class = "form-group">
              <!-- <label for="pwd">Password:</label> -->
              <input type="password" class="form-control" id = "pwd" placeholder="Enter password" name = "password" [(ngModel)]="user.password" #password="ngModel" required
              pattern="^(?=.?[A-Z])(?=.?[a-z])(?=.?[0-9])(?=.?[#?!@$ %^&*-]).{8,}$" 
              [class.is-invalid]="password.invalid && password.touched"
              >
              <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small> -->
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <small class="text-danger" *ngIf="password.errors?.['required']">password is required</small>
                <!-- <small class="text-danger" *ngIf="password.errors?.['pattern']">enter the valid password</small> -->
              </div>
            </div>
            <br>
            <div class = "checkbox">
              <input type = "checkbox" name = "remember">
              <label style="color:white"> Remember me</label>
            </div>
            <br>
            <div class="row" style="margin-top:auto">
              <button type="submit" class = "btn btn-info mr-2"  >Login</button> 
              <br>
              <br>
              <div style="margin-top:2rem">
              <!-- <button type="submit" class = "btn btn-info" routerLink="/homepage-component" routerLinkActive="active" >Login</button>--> 
              <button class="btn btn-secondary mr-1"  routerLink="/registration-component" routerLinkActive="active">Sign Up</button>
            </div>
            </div>
          
          </form>
        </div> 
        </div> 
        </div>
        <!-- <div class="container">

          <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input required type="email" class="form-control" id="emailId" name="emailId" [(ngModel)]="user.emailId" #email="ngModel" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+?\.[a-z]{2,3}$"
              [class.is-invalid]="email.invalid && email.touched" placeholder="Enter Email ID">
            </div>
            
          
            <div *ngIf="email.invalid && (email.dirty || email.touched) "
              class="alert alert-danger">Email id required</div>
            
              <div *ngIf="email.errors && email.invalid && email.touched && email.dirty ">
                <div class=alert-danger *ngIf="email.errors?.['required']">
                  email is required.
                </div>
                <div class="alert-danger" *ngIf="email.errors?.['pattern']">email id invalid</div>
              </div>
          
          
             <!-- <div *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.pattern"
              class="alert alert-danger">invalid email id</div>
             
          
          
          
            
          
          
          
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input required type="password" class="form-control" name="password" id="password"[(ngModel)]="user.password" #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" placeholder="Enter Password">,
            </div>
          
            <div *ngIf="pass.invalid && pass.touched"
            class="alert alert-danger"> Password required</div>
          
          
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-default">Login</button>
          </form>
          <small>New User ?</small><br>
          <small id="signUp" (click)="gotoRegister()"> Sign Up</small>
          </div> -->


          <!-- <form class="text-center border border-light p-5">
            <div class="wrapper" >
                <p class="h4 mb-4">Login</p>
                <div [formGroup]="loginform" #loginForm="ngForm"(ngSubmit)="loginUser(loginForm)">
          
                    <input [class.is-invalid]="loginform.get('emailid').invalid && loginform.get('emailid').touched" formControlName="emailid" type ="email" class="form-control mb-4" placeholder="name@example.com">
                    <div *ngIf="loginform.get('emailid').invalid && loginform.get('emailid').touched">
                     <small ngIf="loginform.get('emailid').errors?.['required']" class="text-danger">Email id required</small>
                     </div>
          
                     <input [class.is-invalid]="loginform.get('password').invalid && loginform.get('password').touched" formControlName="password" type ="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                     <small  id="defaultRegisterFormPasswordHelpBlock"  class="form-text text-muted mb-4"> At least 8 characters and 1 digit</small>
             
                      <div *ngIf="loginform.get('password').invalid && loginform.get('password').touched">
                      <small ngIf="loginform.get('password').errors?.['required']" class="text-danger">Password required</small>
                      </div>
                      <div>
                      <button type="submit" class="btn mt-3" routerLink="/homepage-component" routerLinkActive="active">Login</button>
                      <a routerLink="/registration-component" routerLinkActive="active">Sign Up</a>
                      </div>
                    </div>
                </div>
                  </form> -->