.example-card {
  max-width: 200px;
}
/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */
.example-header-image {
  border-style: solid;
  border-color:black;
  margin-top: 10px;
  border-width: 1px;
}

.card{
  width: 35%;
  margin-left: 25rem;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3,minmax(200px,0.5fr));
  grid-gap: 40px;
  box-sizing: border-box;
  border-style: hidden;
  
}